# Ignore compiled object files
*.o

# Ignore static libraries
*.a

# Ignore executables
testprog
alu_test
dff_test
bit_test
register_test
nand_test
aritmitic_test
ram8_test
# Ignore editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db